@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1281px;

  margin: 30px auto 0 auto;
}

.image-container button {
  opacity: 0;
  transition: all 0.9s;
}

.image-container:hover button {
  opacity: 1;
}

.pagin {
  color: black;
}

@media (max-width: 83em) {
  .container {
    max-width: 90%;
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 63em) {
  html {
    font-size: 95%;
  }
}
